<h3>Registration</h3>
<div class="jumbotron jumbotron-fluid" >

  <form #registerform="ngForm" (ngSubmit)="onSubmit(Email.value, username.value)">
    <div class="form-group">
      <label for="Email">Email address</label>
      <input type="email" class="form-control" id="email" name="Email" #Email ngModel required>
      </div>
    
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" class="form-control" id="username" name="username" #username ngModel required>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
